@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500&display=swap');

:root {
  --primary-orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --primary-blue: hsl(213, 19%, 18%);
  --secondary-blue: hsl(216, 12%, 8%);
  --bg-inside: hsl(213, 19%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

body {
  background-color: var(--secondary-blue);
  font-size: 15px;
}

h3 {
  color: var(--white);
  margin: 1.7rem 0 0.5rem 0;
  word-spacing: 2px;
  font-size: 25px;
  font-weight: 500;
}

p {
  word-wrap: break-word;
  width: 20rem;
  text-overflow: ellipsis;
  line-height: 1.6;
  color: var(--light-grey);
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-blue);
  padding: 30px 23px;
  border-radius: 15px;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.staricon {
  width: 40px;
  height: 40px;
  background-color: var(--bg-inside);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.staricon img {
  color: var(--primary-orange);
  width: 27px;
  height: 27px;
}

.altschool {
  width: 45px;
  height: 45px;
}

/* BUTTON COMPONENT */
.scores {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scores > button {
  background-color: var(--bg-inside);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--light-grey);
  cursor: pointer;
  border: none;
  font-weight: 600;
}

button:hover {
  background-color: var(--primary-orange);
  color: var(--white);
  font-weight: 600;
  transition: background-color 0.32s;
}

button.active {
  background-color: var(--light-grey);
  color: var(--color-white);
}

#submit {
  margin-top: 8px;
  padding: 14px 7.5rem;
  background-color: var(--primary-orange);
  color: var(--white);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-left: 0.8rem;
}

#submit:hover {
  background-color: var(--white);
  color: var(--primary-orange);
  transition: background-color 0.32s;
}

/* SUBMIT COMPONENt */

.results {
  position: relative;
  height: 100vh;
  width: 100%;
}

.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-blue);
  padding: 40px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

/* ANIMATION */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.success img {
  padding: 0;
  transform: scale(0.85);
  margin-bottom: 20px;
}

.selected-msg {
  width: 65%;
  text-align: center;
  background-color: var(--bg-inside);
  border-radius: 30px;
  padding: 0.4rem 10px;
  margin-top: 0.8rem;
  color: var(--primary-orange);
  font-weight: 500;
  word-spacing: 1px;
}

.thank-you {
  font-size: 30px;
  color: var(--white);
  margin: 30px 0 10px 0;
}

.results p {
  text-align: center;
}

/* ATTRIBUTION */
footer {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-inside);
  color: var(--white);
  /* padding: 3px 20px; */
  width: 35%;
  text-align: center;
  border-radius: 10px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: var(--light-grey);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  main {
    max-width: 375px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
  footer {
    top: 86.5%;
    width: 71.9%;
    padding: 2px 30px;
  }

  .rate-again {
    margin: 0 1.3rem;
    width: 100%;
  }
}
